[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/glenn/Desktop/notsureif.png]
row=10
col=4

[/home/glenn/Desktop/gps-6.44.2-mipsbe.npk]
row=8
col=1

[/home/glenn/Desktop/2019ISOTDAQ_DUNE.pdf]
row=12
col=7

[/home/glenn/Desktop/calea-6.44.2-mipsbe.npk]
row=5
col=1

[/home/glenn/Desktop/hotspot-6.44.2-mipsbe.npk]
row=5
col=2

[/home/glenn/Desktop/DSC_0007.jpg]
row=1
col=7

[/home/glenn/Desktop/manjaro-gnome-18.0.4-stable-x86_64.iso]
row=1
col=8

[/home/glenn/Desktop/CMS_Induction_2019__Data_taking.pdf]
row=9
col=4

[/home/glenn/Desktop/CMS_L1_Software_CA.crt]
row=13
col=6

[/home/glenn/Desktop/DSC_0017.JPG]
row=7
col=3

[/home/glenn/Desktop/event.ics]
row=13
col=2

[/home/glenn/Desktop/Libre_Baskerville]
row=6
col=8

[/home/glenn/Desktop/linux.zip]
row=10
col=5

[/home/glenn/Desktop/image.png]
row=3
col=1

[/home/glenn/Desktop/eid-web-browser-mw-install-1.1.11.jar]
row=1
col=1

[/home/glenn/Desktop/trigger hierarchy.png]
row=3
col=4

[/home/glenn/Desktop/CALOL2_CLOBS_MasksAndMonitoring_v2_CONF.xml]
row=9
col=3

[/home/glenn/Desktop/boot.iso]
row=7
col=5

[/home/glenn/Desktop/bionic-lxde-rock64-0.7.9-1067-arm64.img]
row=3
col=2

[/home/glenn/Desktop/CERN Root Certification Authority 2.crt]
row=6
col=4

[/home/glenn/Desktop/diagram2.bpmn]
row=6
col=7

[/home/glenn/Desktop/openflow-6.44.2-mipsbe.npk]
row=0
col=3

[/home/glenn/Desktop/DSC_0002.jpg]
row=2
col=7

[/home/glenn/Desktop/SlitDay2019]
row=8
col=8

[/home/glenn/Desktop/mpls-6.44.2-mipsbe.npk]
row=12
col=1

[/home/glenn/Desktop/fonts.zip]
row=8
col=6

[/home/glenn/Desktop/cpmjaci6rol21.jpg]
row=11
col=0

[/home/glenn/Desktop/Untitled.png]
row=13
col=4

[/home/glenn/Desktop/DSC_0004.jpg]
row=6
col=3

[/home/glenn/Desktop/Hbb_v2.png]
row=6
col=0

[/home/glenn/Desktop/Boarding_Pass_BA0738_LHR_GVA_058.pdf]
row=8
col=4

[/home/glenn/Desktop/steam.desktop]
row=4
col=4

[/home/glenn/Desktop/cern_ca_2.crt]
row=11
col=4

[/home/glenn/Desktop/linux-kernel-4.4.167-1213-rockchip-ayufan.tar.gz]
row=9
col=0

[/home/glenn/Desktop/Libre_Franklin]
row=5
col=8

[/home/glenn/Desktop/Monitoring the L1TOSW.pdf]
row=11
col=6

[/home/glenn/Desktop/cream.png]
row=9
col=6

[/home/glenn/Desktop/ntp-6.44.2-mipsbe.npk]
row=2
col=3

[/home/glenn/Desktop/Proza_Libre]
row=4
col=8

[/home/glenn/Desktop/derg.png]
row=5
col=0

[/home/glenn/Desktop/blerp.png]
row=12
col=2

[/home/glenn/Desktop/balena-cloud-glenn-raspberrypi3-2.32.0+rev1-v9.14.0.img]
row=0
col=8

[/home/glenn/Desktop/Online Software Report (week #25).pdf]
row=13
col=1

[/home/glenn/Desktop/all_packages-mipsbe-6.44.2.zip]
row=10
col=0

[/home/glenn/Desktop/DSC_0006.jpg]
row=3
col=7

[/home/glenn/Desktop/ipv6-6.44.2-mipsbe.npk]
row=2
col=2

[/home/glenn/Desktop/paper.png]
row=6
col=6

[/home/glenn/Desktop/balena-cloud-glenn-raspberrypi3-2.32.0+rev1-v9.14.0.img.zip]
row=10
col=6

[/home/glenn/Desktop/derg_snoot.png]
row=6
col=1

[/home/glenn/Desktop/dhcp-6.44.2-mipsbe.npk]
row=4
col=1

[/home/glenn/Desktop/PinClipart.com_flaming-arrow-clip-art_1698872.png]
row=5
col=5

[/home/glenn/Desktop/ppp-6.44.2-mipsbe.npk]
row=11
col=2

[/home/glenn/Desktop/Manjaro-ARM-minimal-rockpro64-19.06.img]
row=4
col=6

[/home/glenn/Desktop/tr069-client-6.44.2-mipsbe.npk]
row=7
col=2

[/home/glenn/Desktop/balena.img.zip]
row=3
col=5

[/home/glenn/Desktop/video_2019-08-14_09-43-18.mp4]
row=2
col=6

[/home/glenn/Desktop/Online Software Status and Plans (CMS Week 25 jun 2019).pdf]
row=12
col=4

[/home/glenn/Desktop/eduroam.p12]
row=0
col=5

[/home/glenn/Desktop/BMTF_Kalman_CLOB_change.png]
row=3
col=3

[/home/glenn/Desktop/user-manager-6.44.2-mipsbe.npk]
row=11
col=3

[/home/glenn/Desktop/V_HCAL_PROXY_CONSTRAINTS.txt]
row=2
col=4

[/home/glenn/Desktop/routeros-mipsbe-6.44.2.npk]
row=12
col=0

[/home/glenn/Desktop/lcd-6.44.2-mipsbe.npk]
row=1
col=2

[/home/glenn/Desktop/stretch-openmediavault-rockpro64-0.8.3-1141-armhf.img.xz]
row=4
col=2

[/home/glenn/Desktop/l1prescales_CRUZETforMWGR3.xml]
row=10
col=8

[/home/glenn/Desktop/CERN Grid Certification Authority.crt]
row=0
col=1

[/home/glenn/Desktop/DSC_0022.jpg]
row=0
col=6

[/home/glenn/Desktop/ups-6.44.2-mipsbe.npk]
row=12
col=3

[/home/glenn/Desktop/mlem.sh]
row=8
col=5

[/home/glenn/Desktop/stretch-minimal-rockpro64-0.8.3-1141-arm64.img.xz]
row=5
col=6

[/home/glenn/Desktop/linux-build-0.8.3.tar.gz]
row=8
col=7

[/home/glenn/Desktop/one_badge.png]
row=9
col=5

[/home/glenn/Desktop/userkey.pem]
row=4
col=5

[/home/glenn/Desktop/MWGR#3 alerting ideas.txt]
row=0
col=4

[/home/glenn/Desktop/glenn.xml]
row=9
col=8

[/home/glenn/Desktop/stretch-minimal-rock64-0.7.9-1067-arm64.img]
row=10
col=7

[/home/glenn/Desktop/lte-6.44.2-mipsbe.npk]
row=0
col=2

[/home/glenn/Desktop/DSC_0003.jpg]
row=4
col=3

[/home/glenn/Desktop/DSC_0010.jpg]
row=1
col=6

[/home/glenn/Desktop/system-6.44.2-mipsbe.npk]
row=8
col=2

[/home/glenn/Desktop/technicolor_base.bin]
row=3
col=6

[/home/glenn/Desktop/CERN-VIDEO-1991-047-001-480p.mp4]
row=6
col=2

[/home/glenn/Desktop/Dirkx CERN Cert 26062019.pdf]
row=8
col=3

[/home/glenn/Desktop/pilcrow.svg]
row=6
col=5

[/home/glenn/Desktop/Rubik]
row=3
col=8

[/home/glenn/Desktop/L1T + HLT monitoring.pdf]
row=12
col=6

[/home/glenn/Desktop/SlitDay2019.7z]
row=10
col=1

[/home/glenn/Desktop/Work_Sans]
row=2
col=8

[/home/glenn/Desktop/Hellboy.2019.1080p.WEBRip.x264-[YTS.LT].mp4]
row=11
col=5

[/home/glenn/Desktop/multicast-6.44.2-mipsbe.npk]
row=11
col=1

[/home/glenn/Desktop/Realtek8811AU.rar]
row=8
col=0

[/home/glenn/Desktop/security-6.44.2-mipsbe.npk]
row=9
col=2

[/home/glenn/Desktop/ridley.png]
row=5
col=4

[/home/glenn/Desktop/daq.png]
row=7
col=6

[/home/glenn/Desktop/DSC_0020.JPG]
row=4
col=7

[/home/glenn/Desktop/InstituteCertificate_EN.pdf]
row=7
col=7

[/home/glenn/Desktop/raptor top hat.jpg]
row=13
col=0

[/home/glenn/Desktop/routing-6.44.2-mipsbe.npk]
row=10
col=2

[/home/glenn/Desktop/Unified Prescale Development.pdf]
row=13
col=7

[/home/glenn/Desktop/CMS Induction Course (20-jun-19)_ L1 osw control.pdf]
row=9
col=1

[/home/glenn/Desktop/March 2019 Q and A.m4a]
row=13
col=3

[/home/glenn/Desktop/Apple Computer,   Chapter One 1989.mp4]
row=7
col=0

[/home/glenn/Desktop/usercert.pem]
row=11
col=7

[/home/glenn/Desktop/connections.json]
row=12
col=5

[/home/glenn/Desktop/wireless-6.44.2-mipsbe.npk]
row=10
col=3

[/home/glenn/Desktop/exypnos.gif]
row=9
col=7

[/home/glenn/Desktop/stretch-openmediavault-rockpro64-0.8.3-1141-arm64.img.xz]
row=0
col=7

[/home/glenn/Desktop/linux]
row=7
col=8

[/home/glenn/Desktop/Online Software Status & Plans.pdf]
row=5
col=3

[/home/glenn/Desktop/Solus-4.0-Budgie.iso]
row=1
col=3

[/home/glenn/Desktop/DSC_0021.jpg]
row=2
col=5

[/home/glenn/Desktop/ridpeek.png]
row=2
col=1

[/home/glenn/Desktop/drake.png]
row=7
col=4

[/home/glenn/Desktop/diagram.bpmn]
row=1
col=4

[/home/glenn/Desktop/dolpherlewd.gif]
row=13
col=5

[/home/glenn/Desktop/Screenshot_20190623_234712.png]
row=1
col=5

[/home/glenn/Desktop/advanced-tools-6.44.2-mipsbe.npk]
row=7
col=1

[/home/glenn/Desktop/DSC_0010_z.jpg]
row=5
col=7

[34F5EE1202469FF7]
row=1
col=0

[google-drive://glenn.dirkx@gmail.com/]
row=0
col=0

[Wastebasket]
row=2
col=0

[/]
row=3
col=0

[/home/glenn]
row=4
col=0

